@model ServiceChecklistEntity
@functions {
    string GetRowColor(ChecklistItemCondition? condition) {
        if (condition == ChecklistItemCondition.OK) {
            return "green-bg";
        }
        else if (condition == ChecklistItemCondition.Bør_Skiftes) {
            return "orange-bg";
        }
        else if (condition == ChecklistItemCondition.Defekt) {
            return "red-bg";
        }
        return ""; 
    }
}
@functions
{
    string GetRowColorByBoolean(bool? condition)
    {
        if (condition == true)
        {
            return "green-bg";
        }
        else if (condition == false)
        {
            return "red-bg";
        }
        return ""; 
    }
}

<thead class="table table-striped table-bordered border-dark" id="Mekaniker">
            <tr class="text-center mekaniker-header">
                <th colspan="4">Mekaniker</th>
            </tr>
            </thead>
            <tr class="@GetRowColor(Model.ClutchlamelerSlitasje) checklist-row mekaniker">
                <td>Sjekk clutch lameller slitasje</td>
                <td><input type="radio" asp-for="ClutchlamelerSlitasje" value="OK" class="large-Radio"/> </td>
                <td><input type="radio" asp-for="ClutchlamelerSlitasje" value="Bør_skiftes" class="large-Radio"/> </td>
                <td><input type="radio" asp-for="ClutchlamelerSlitasje" value="Defekt" class="large-Radio"/> </td>

            </tr>
            <tr class="@GetRowColor(Model.Bremser) checklist-row mekaniker">
                <td>Sjekk bremser. Bånd/Pal</td>
                <td><input type="radio" asp-for="Bremser" value="OK" class="large-Radio"/> </td>
                <td><input type="radio" asp-for="Bremser" value="Bør_skiftes" class="large-Radio"/> </td>
                <td><input type="radio" asp-for="Bremser" value="Defekt" class="large-Radio"/> </td>
            </tr>
            <tr class="@GetRowColor(Model.LagerforTrommel) checklist-row mekaniker">
                <td>Sjekk lager for trommel</td>
                <td><input type="radio" asp-for="LagerforTrommel" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="LagerforTrommel" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="LagerforTrommel" value="Defekt" class="large-Radio"/> </td>
            </tr>
            <tr class="@GetRowColor(Model.PTOogOpplagring) checklist-row mekaniker">
                <td>Sjekk PTO og opplagring</td>
                <td><input type="radio" asp-for="PTOogOpplagring" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="PTOogOpplagring" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="PTOogOpplagring" value="Defekt" class="large-Radio"/> </td>
            </tr>
            <tr class="@GetRowColor(Model.Kjedestrammer) checklist-row mekaniker">
                <td>Sjekk kjedestrammer</td>
                <td><input type="radio" asp-for="Kjedestrammer" value="OK" class="large-Radio"/> </td>
                <td><input type="radio" asp-for="Kjedestrammer" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Kjedestrammer" value="Defekt" class="large-Radio"/> </td>
            </tr>
            <tr class="@GetRowColor(Model.Wire) checklist-row mekaniker">
                <td>Sjekk wire</td>
                <td><input type="radio" asp-for="Wire" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Wire" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Wire" value="Defekt" class="large-Radio"/></td>
            </tr>
            <tr class="@GetRowColor(Model.PinionLager) checklist-row mekaniker">
                <td>Sjekk pinion lager</td>
                <td><input type="radio" asp-for="PinionLager" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="PinionLager" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="PinionLager" value="Defekt" class="large-Radio"/></td>
            </tr>
            <tr class="@GetRowColor(Model.KilepåKjedehjul) checklist-row mekaniker">
                <td>Sjekk kile på kjedehjul</td>
                <td><input type="radio" asp-for="KilepåKjedehjul" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="KilepåKjedehjul" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="KilepåKjedehjul" value="Defekt" class="large-Radio"/></td>
            </tr>
            <tr class="@GetRowColorByBoolean(Model.mechanicDone) checklist-row mekaniker">
                <td>Fullført mekaniker liste?</td>
                <td colspan="2"><input type="radio" asp-for="mechanicDone" value=true class="large-Radio"/><span>JA</span></td>
                <td><input type="radio" id="mechanicDone" asp-for="mechanicDone" value=false class="large-Radio"/><span class="mb-5">NEI</span></td>
            </tr>
        

                @* Hydraulisk *@
            <thead class="table  table-striped table-bordered border-dark" id="hydraulic">
            <tr class="text-center hydraulic-header">
                <th colspan="4">Hydraulisk</th>
            </tr>
            </thead>
            <tr class="@GetRowColor(Model.SylinderLekkasje) checklist-row hydraulic">
                <td>Sjekk hydraulikk sylinder for lekkasje</td>
                <td><input type="radio" asp-for="SylinderLekkasje" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SylinderLekkasje" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SylinderLekkasje" value="Defekt" class="large-Radio"/></td>
            </tr>
            <tr class="@GetRowColor(Model.SlangeSkadeLekkasje) checklist-row hydraulic">
                <td>Sjekk slanger for skader og lekkasje</td>
                <td><input type="radio" asp-for="SlangeSkadeLekkasje" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SlangeSkadeLekkasje" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SlangeSkadeLekkasje" value="Defekt" class="large-Radio"/></td>
            </tr>
            <tr class="@GetRowColor(Model.HydraulikkblokkTestbenk) checklist-row hydraulic">
                <td>Test hydraulikkblokk i testbenk</td>
                <td><input type="radio" asp-for="HydraulikkblokkTestbenk" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="HydraulikkblokkTestbenk" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="HydraulikkblokkTestbenk" value="Defekt" class="large-Radio"/></td>
            </tr>
            <tr class="@GetRowColor(Model.SkiftOljeiTank) checklist-row hydraulic">
                <td>Skift olje i tank</td>
                <td><input type="radio" asp-for="SkiftOljeiTank" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SkiftOljeiTank" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SkiftOljeiTank" value="Defekt" class="large-Radio"/></td>
            </tr>
        
            <tr class="@GetRowColor(Model.SkiftOljeiTank) checklist-row hydraulic">
                <td>Skift olje på gir boks</td>
                <td><input type="radio" asp-for="SkiftOljepåGirboks" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SkiftOljepåGirboks" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="SkiftOljepåGirboks" value="Defekt" class="large-Radio"/></td>
            </tr>
        
            <tr class="@GetRowColor(Model.Ringsylinder) checklist-row hydraulic">
                <td>Sjekk ringsylinder åpne og skift tetninger</td>
                <td><input type="radio" asp-for="Ringsylinder" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Ringsylinder" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Ringsylinder" value="Defekt" class="large-Radio"/></td>
            </tr>
            <tr class="@GetRowColor(Model.Bremsesylinder) checklist-row hydraulic">
                <td>Sjekk bremse sylinder åpne og skift tetninger</td>
                <td><input type="radio" asp-for="Bremsesylinder" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Bremsesylinder" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Bremsesylinder" value="Defekt" class="large-Radio"/> </td>
            </tr>
            <tr class="@GetRowColorByBoolean(Model.hydraulicsDone) checklist-row hydraulic">
                <td>Fullført hydraulikk liste?</td>
                <td colspan="2"><input type="radio" asp-for="hydraulicsDone" value=true class="large-Radio"/><span>JA</span></td>
                <td><input type="radio" id="hydraulicsDone" asp-for="hydraulicsDone" value="false" class="large-Radio"/><span class="mb-5">NEI</span></td>
            </tr>
                        @* Elektro *@
            <thead class="table table-striped table-bordered border-dark" id="elektro">
            <tr class="text-center elektro-header">
                <th colspan="4">Elektro</th>
            </tr>
            </thead>
            <tr class="@GetRowColor(Model.LedningsnettpåVinsj) checklist-row elektro">
                <td>Sjekk ledningsnett på vinsj</td>
                <td><input type="radio" asp-for="LedningsnettpåVinsj" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="LedningsnettpåVinsj" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="LedningsnettpåVinsj" value="Defekt" class="large-Radio"/></td>
            </tr>
                
                        
            <tr class="@GetRowColor(Model.TestRadio) checklist-row elektro">
                <td>Sjekk og test radio</td>
                <td><input type="radio" asp-for="TestRadio" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="TestRadio" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="TestRadio" value="Defekt" class="large-Radio"/></td>
            </tr>
                
            <tr class="@GetRowColor(Model.Knappekasse) checklist-row elektro">
                <td>Sjekk og test knappekasse</td>
                <td><input type="radio" asp-for="Knappekasse" value="OK" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Knappekasse" value="Bør_skiftes" class="large-Radio"/></td>
                <td><input type="radio" asp-for="Knappekasse" value="Defekt" class="large-Radio"/> </td>
            </tr>
            <tr class="@GetRowColorByBoolean(Model.electricianDone) checklist-row elektro">
                <td>Fullført elektro liste?</td>
                <td colspan="2"><input type="radio" asp-for="electricianDone" value="true" class="large-Radio"/><span>JA</span></td>
                <td><input type="radio" id="electricianDone" asp-for="electricianDone" value="false" class="large-Radio"/><span class="mb-5">NEI</span></td>
                
            </tr>