@model WebapplikasjonSemesterOppgave.Models.ServiceChecklistEntity
@{
    ViewData["Title"] = "Sjekkliste Detaljer";
}

@functions {
    string GetRowColor(ChecklistItemCondition? condition) {
        if (condition == ChecklistItemCondition.OK) {
            return "green-bg";
        }
        else if (condition == ChecklistItemCondition.Bør_Skiftes) {
            return "orange-bg";
        }
        else if (condition == ChecklistItemCondition.Defekt) {
            return "red-bg";
        }
        return ""; // Default, no background color
    }
}
@functions
{
    string GetRowColor(bool? condition)
    {
        if (condition == true)
        {
            return "green-bg";
        }
        else if (condition == false)
        {
            return "red-bg";
        }
        return ""; // Default, no background color
    }
}


<h1 class="custom-hover">Sjekkliste</h1>
<div class="custom-hover">
    <strong>Order ID:</strong> @Model.OrderId
    <strong>Sjekkliste for: @Model.Order.UserId</strong>
</div>
<table class="table table-hover table-bordered border-dark text-center bg-white bg-opacity-75">
<thead class="table table-success table-striped table-bordered border-dark">
<tr class="text-center">
    <th colspan="1">Serienummer: @Model.Order.SerialNumber</th>
    <th colspan="3">Type: @Model.Order.ProductType</th>

</tr>
</thead>
<thead class="table-dark table-bordered">
<tr class="text-center">

    <th>Sjekkpunkter</th>
    <th>OK</th>
    <th>Bør skiftes</th>
    <th>Defekt</th>
</tr>
</thead>
<tbody>
<thead class="table table-striped table-bordered border-dark" id="Mekaniker">
<tr class="text-center mekaniker-header">
    <th colspan="4">Mekaniker</th>
</tr>



<tr class="@GetRowColor(Model.ClutchlamelerSlitasje) checklist-row mekaniker">
    <td>Sjekk clutch lameller Slitasje:</td>
    <td> <input type="radio" name="ClutchlamelerSlitasje" value="OK" @(Model.ClutchlamelerSlitasje == ChecklistItemCondition.OK ? "checked" : "")> OK</td>
    <td><input type="radio" name="ClutchlamelerSlitasje" value="Bør Skiftes" @(Model.ClutchlamelerSlitasje == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes</td>
    <td><input type="radio" name="ClutchlamelerSlitasje" value="Defekt" @(Model.ClutchlamelerSlitasje == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt</td>
</tr>

<tr class="@GetRowColor(Model.Bremser) checklist-row mekaniker">
    <td>Sjekk bremser. Bånd/Pal</td>
    <td> <input type="radio" name="Bremser" value="OK" @(Model.Bremser == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="Bremser" value="Bør Skiftes" @(Model.Bremser == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="Bremser" value="Defekt" @(Model.Bremser == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.LagerforTrommel) checklist-row mekaniker">
    <td>Sjekk lager for trommel</td>
    <td> <input type="radio" name="Trommel" value="OK" @(Model.LagerforTrommel == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="Trommel" value="Bør Skiftes" @(Model.LagerforTrommel == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="Trommel" value="Defekt" @(Model.LagerforTrommel == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.PTOogOpplagring) checklist-row mekaniker">
    <td>Sjekk PTO og opplagring</td>
    <td> <input type="radio" name="PTOopplagring" value="OK" @(Model.PTOogOpplagring == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="PTOopplagring" value="Bør Skiftes" @(Model.PTOogOpplagring == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="PTOopplagring" value="Defekt" @(Model.PTOogOpplagring == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.Kjedestrammer) checklist-row mekaniker">
    <td>Sjekk kjedestrammer</td>
    <td> <input type="radio" name="Kjedestrammer" value="OK" @(Model.Kjedestrammer == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="Kjedestrammer" value="Bør Skiftes" @(Model.Kjedestrammer == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="Kjedestrammer" value="Defekt" @(Model.Kjedestrammer == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.Wire) checklist-row mekaniker">
    <td>Sjekk wire</td>
    <td> <input type="radio" name="Wire" value="OK" @(Model.Wire == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="Wire" value="Bør Skiftes" @(Model.Wire == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="Wire" value="Defekt" @(Model.Wire == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.PinionLager) checklist-row mekaniker">
    <td>Sjekk pinion lager</td>
    <td> <input type="radio" name="pinionLager" value="OK" @(Model.PinionLager == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="pinionLager" value="Bør Skiftes" @(Model.PinionLager == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="pinionLager" value="Defekt" @(Model.PinionLager == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.KilepåKjedehjul) checklist-row mekaniker">
    <td>Sjekk kile på kjedehjul</td>
    <td> <input type="radio" name="kilepåKjedehjul" value="OK" @(Model.KilepåKjedehjul == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="kilepåKjedehjul" value="Bør Skiftes" @(Model.KilepåKjedehjul == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="kilepåKjedehjul" value="Defekt" @(Model.KilepåKjedehjul == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.mechanicDone) checklist-row mekaniker">
    <td>Har mekaniker fullført sjekkliste</td>
    <td colspan="2"> <input type="radio" name="mechanicDone" value="OK" @(Model.mechanicDone == true ? "checked" : "")> JA
    </td>
    <td> <input type="radio" name="mechanicDone" id="mechanicNo" value="NO" @(Model.mechanicDone == false ? "checked" : "")> NEI
    </td>
</tr>

<thead class="table  table-striped table-bordered border-dark" id="hydraulic">
<tr class="text-center hydraulic-header">
    <th colspan="4">Hydraulisk</th>
</tr>
</thead>
@* Hydraulisk *@
<tr class="@GetRowColor(Model.SylinderLekkasje) checklist-row hydraulic">
    <td>Sjekk hydraulikk sylinder for lekkasje</td>
    <td> <input type="radio" name="hydraulikkSylinder" value="OK" @(Model.SylinderLekkasje == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="hydraulikkSylinder" value="Bør Skiftes" @(Model.SylinderLekkasje == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="hydraulikkSylinder" value="Defekt" @(Model.SylinderLekkasje == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.SlangeSkadeLekkasje) checklist-row hydraulic">
    <td>Sjekk slanger for skader og lekkasje</td>
    <td> <input type="radio" name="slangeSkade" value="OK" @(Model.SlangeSkadeLekkasje == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="slangeSkade" value="Bør Skiftes" @(Model.SlangeSkadeLekkasje == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="slangeSkade" value="Defekt" @(Model.SlangeSkadeLekkasje == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.HydraulikkblokkTestbenk) checklist-row hydraulic">
    <td>Test hydraulikkblokk i testbenk</td>
    <td> <input type="radio" name="hydraulikkBlokk" value="OK" @(Model.HydraulikkblokkTestbenk == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="hydraulikkBlokk" value="Bør Skiftes" @(Model.HydraulikkblokkTestbenk == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="hydraulikkBlokk" value="Defekt" @(Model.HydraulikkblokkTestbenk == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.SkiftOljeiTank) checklist-row hydraulic">
    <td>Skift olje i tank</td>
    <td> <input type="radio" name="skiftoljeiTank" value="OK" @(Model.SkiftOljeiTank == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="skiftoljeiTank" value="Bør Skiftes" @(Model.SkiftOljeiTank == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="skiftoljeiTank" value="Defekt" @(Model.SkiftOljeiTank == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.SkiftOljeiTank) checklist-row hydraulic">
    <td>Skift olje på gir boks</td>
    <td> <input type="radio" name="skiftoljepåGirboks" value="OK" @(Model.SkiftOljepåGirboks == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="skiftoljepåGirboks" value="Bør Skiftes" @(Model.SkiftOljepåGirboks == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="skiftoljepåGirboks" value="Defekt" @(Model.SkiftOljepåGirboks == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.Ringsylinder) checklist-row hydraulic">
    <td>Skift Ringsylinder åpne og skift tetninger</td>
    <td> <input type="radio" name="skiftRingsylinder" value="OK" @(Model.Ringsylinder == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="skiftRingsylinder" value="Bør Skiftes" @(Model.Ringsylinder == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="skiftRingsylinder" value="Defekt" @(Model.Ringsylinder == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.Bremsesylinder) checklist-row hydraulic">
    <td>Sjekk bremse sylinder åpne og skift tetninger</td>
    <td> <input type="radio" name="bremseSylinder" value="OK" @(Model.Bremsesylinder == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="bremseSylinder" value="Bør Skiftes" @(Model.Bremsesylinder == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="bremseSylinder" value="Defekt" @(Model.Bremsesylinder == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.hydraulicsDone) checklist-row hydraulic">
    <td>Har hydraulikk fullført sjekkliste</td>
    <td colspan="2"> <input type="radio" name="hydraulicsDone" value="OK" @(Model.hydraulicsDone == true ? "checked" : "")> JA
    </td>
    <td> <input type="radio" name="hydraulicsDone" id="hydraulicsDone" value="NO" @(Model.hydraulicsDone == false ? "checked" : "")> NEI
    </td>
</tr>
</thead>
@* Elektro *@
<thead class="table table-striped table-bordered border-dark" id="elektro">
<tr class="text-center elektro-header">
    <th colspan="4">Elektro</th>
</tr>
<tr class="@GetRowColor(Model.LedningsnettpåVinsj) checklist-row elektro">
    <td>Sjekk ledningsnett på vinsj</td>
    <td> <input type="radio" name="ledningsnettVinsj" value="OK" @(Model.LedningsnettpåVinsj == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="ledningsnettVinsj" value="Bør Skiftes" @(Model.LedningsnettpåVinsj == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="ledningsnettVinsj" value="Defekt" @(Model.LedningsnettpåVinsj == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.TestRadio) checklist-row elektro">
    <td>Sjekk og test radio</td>
    <td> <input type="radio" name="testRadio" value="OK" @(Model.TestRadio == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="testRadio" value="Bør Skiftes" @(Model.TestRadio == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="testRadio" value="Defekt" @(Model.TestRadio == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.Knappekasse) checklist-row elektro">
    <td>Sjekk og test knappekasse</td>
    <td> <input type="radio" name="knappeKasse" value="OK" @(Model.Knappekasse == ChecklistItemCondition.OK ? "checked" : "")> OK
    </td>
    <td><input type="radio" name="knappeKasse" value="Bør Skiftes" @(Model.Knappekasse == ChecklistItemCondition.Bør_Skiftes ? "checked" : "")> Bør Skiftes
    </td>
    <td><input type="radio" name="knappeKasse" value="Defekt" @(Model.Knappekasse == ChecklistItemCondition.Defekt ? "checked" : "")> Defekt
    </td>
</tr>
<tr class="@GetRowColor(Model.electricianDone) checklist-row elektro">
    <td>Har elektriker fullført sjekkliste</td>
    <td colspan="2"> <input type="radio" name="electricianDone" value="OK" @(Model.electricianDone == true ? "checked" : "")> JA
    </td>
    <td> <input type="radio" name="electricianDone" id="electricianDone" value="NO" @(Model.electricianDone == false ? "checked" : "")> NEI
    </td>
</tr>
</thead>

@* Trykksettinger *@
<thead class="table table-success table-striped table-bordered border-dark">
<tr class="text-center">
    <th colspan="4">Trykk settinger</th>
</tr>
</thead>
<tr>
    <td colspan="1">xx-Bar</td>
    <td colspan="3"><p>@Model.XxBar</p></td>
</tr>
@* Funksjonstest *@

<thead class="table table-success table-striped table-bordered border-dark">
<tr class="text-center">
    <th colspan="4">Funksjons test</th>
</tr>
</thead>
<tr>
    <td colspan="1">Test vinsj og kjør alle funksjoner</td>
    <td colspan="3"><p>@Model.VinsjKjørAlleFunksjoner</p></td>
</tr>
<tr>
    <td colspan="1">Trekkraft KN</td>
    <td colspan="3"><p>@Model.TrekkraftKN</p></td>
</tr>
<tr>
    <td colspan="1">Bremsekraft KN</td>
    <td colspan="3"><p>@Model.BremsekraftKN</p></td>
</tr>
<thead class="table table-success table-striped table-bordered border-dark">
<tr class="text-center">
    <th colspan="4">Kommentar</th>
</tr>
</thead>
<tr>
    <td colspan="1">Kommentar</td>
    <td colspan="3"><p></p></td>
</tr>

</tbody>
</table>


<a asp-controller="ServiceOrder" asp-action="Index">Back to Service Orders</a>
<a asp-controller="ServiceCheckList" asp-action="Edit" asp-route-id="@Model.Id">Edit Checklist</a>
<script>
$(document).ready(function () {
    function updateRoleSectionColor(roleName) {
        var roleRows = $('.checklist-row.' + roleName);
        var allChecked = true;
        var hasBørSkiftes = false;
        var hasDefekt = false;
        var bool = false;

        roleRows.each(function () {
            var value = $(this).find('input[type=radio]:checked').val();
            if (value !== "OK" && value !== "Bør Skiftes" && value !== "Defekt" && value !== true && value !== false){
                allChecked = false;
            }
            if (value === "Bør Skiftes") {
                hasBørSkiftes = true;
            }
            if (value === "Defekt") {
                hasDefekt = true;
            }
            if (value === "NO") {
                bool = false;
            }
        });

        var roleHeader = $('.' + roleName + '-header');

        if (allChecked) {
            roleHeader.removeClass('orange-bg red-bg').addClass('green-bg');
        } else {
            roleHeader.removeClass('green-bg');

            if (hasBørSkiftes) {
                roleHeader.removeClass('red-bg').addClass('orange-bg');
            } else if (hasDefekt) {
                roleHeader.removeClass('orange-bg').addClass('red-bg');
            } else if (bool) {
                roleHeader.removeClass('orange-bg').addClass('red-bg');
            } 
        } 
    }

    function updateRowColor(row, value) {
        row.removeClass('green-bg orange-bg red-bg').addClass(GetRowColor(value));
    }

    function GetRowColor(condition) {
        if (condition == "OK") {
            return "green-bg";
        } else if (condition == "Bør Skiftes") {
            return "orange-bg";
        } else if (condition == "Defekt") {
            return "red-bg";
        } else if (condition == true) {
            return "green-bg";
        } else if (condition == "NO") {
            return "red-bg";
        }
        return ""; // Default, no background color
    }

    $('.checklist-row input[type=radio]').change(function () {
        var row = $(this).closest('.checklist-row');
        var value = $(this).val();
        updateRowColor(row, value);

        // Update section color for each role
        updateRoleSectionColor('mekaniker');
        updateRoleSectionColor('elektro');
        updateRoleSectionColor('hydraulic');
        // Add more roles as needed
    });

    // Initial check when the page loads
    updateRoleSectionColor('mekaniker');
    updateRoleSectionColor('elektro');
    updateRoleSectionColor('hydraulic');
    // Add more roles as needed
});
</script>

