@using Microsoft.AspNetCore.Http.Features
@model IEnumerable<WebapplikasjonSemesterOppgave.Models.ServiceChecklistEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-white bg-opacity-75">
    <thead>
    <tr>
        <th>
            Order Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClutchlamelerSlitasje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bremser)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>Handlinger</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var items in ViewBag.ChecklistItems)
    {
        <td>@ViewBag.OrderStatusList[ViewBag.ChecklistItems.IndexOf(items)]</td>
    }
    @foreach (var item in Model)
    {
        <td>@Html.DisplayFor(modelItem => item.ClutchlamelerSlitasje)</td>
        <td>@Html.DisplayFor(modelItem => item.ClutchlamelerSlitasje)</td>
        <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
        <td class="text-center">
            <div class="d-grid gap-2">
                <a class="btn btn-warning col"asp-action="Edit" asp-route-id="@item.Id">Rediger</a>
                <a class="btn btn-info col" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                <a class="btn btn-danger col"asp-action="Delete" asp-route-id="@item.Id">Slett</a>
            </div>
        </td>
    }
    </tbody>
    
</table>
