@model WebapplikasjonSemesterOppgave.Models.OrderEntity

@{
    ViewData["Title"] = "Delete";
}


<div>
    
    <dl class="row justify-content-center text-center">
                <div class="col-md-6 bg-white bg-opacity-75 border border-white rounded-3">

        <h1>Delete</h1>

        <h3>Er du sikker på at du vil slette denne ordren?</h3>
                <hr/>
                <div class="row">
                    <dt class="col-md-6">
                        @Html.DisplayNameFor(model => model.ProductType)
                    </dt>
                    <dd class="col-md-6">
                        @Html.DisplayFor(model => model.ProductType)
                    </dd>
                </div>
                                <hr/>
                <div class="row">
                    <dt class="col-md-6">
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </dt>
                    <dd class="col-md-6">
                        @Html.DisplayFor(model => model.SerialNumber)
                    </dd>
                </div>
                <hr/>
                <div class="row">
                    <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
                    <dd class="col-md-6">
                        @Html.DisplayFor(model => model.ModelYear)
                    </dd>
                    </div>
        <hr/>
                    <div class="row">
                            <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.Warranty)
                </dt>
                            <dd class="col-md-6">
                                @Html.DisplayFor(model => model.Warranty)
                            </dd>
                            </div>
        <hr/>
                        <div class="row">
                            <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.ServiceOrRepair)
                </dt>
                            <dd class="col-md-6">
                                @Html.DisplayFor(model => model.ServiceOrRepair)
                            </dd>
                            </div>
        <hr/>
                        <div class="row">
                            <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.CustomerAgreement)
                </dt>
                            <dd class="col-md-6">
                                @Html.DisplayFor(model => model.CustomerAgreement)
                            </dd>
                            </div>
        <hr/>
                        <div class="row">
                            <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.ReparationDetails)
                </dt>
                            <dd class="col-md-6">
                                @Html.DisplayFor(model => model.ReparationDetails)
                            </dd>
                            </div>
        <hr/>
                        <div class="row">
                            <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.WorkingHours)
                </dt>
                            <dd class="col-md-6">
                                @Html.DisplayFor(model => model.WorkingHours)
                            </dd>
                            </div>
        <hr/>
                        <div class="row">
                            <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.ReplacedPartsReturned)
                </dt>
                            <dd class="col-md-6">
                                @Html.DisplayFor(model => model.ReplacedPartsReturned)
                            </dd>
                            </div>
        <hr/>
                        <div class="row">
                            <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.ShippingMethods)
                </dt>
                            <dd class="col-md-6">
                                @Html.DisplayFor(model => model.ShippingMethods)
                            </dd>
                            </div>
        <hr/>
                <div class="row">
                    <dt class="col-md-6">
                        @Html.DisplayNameFor(model => model.User)
                    </dt>
                    <dd class="col-md-6">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                </div>
                        <hr/>

                <form asp-action="Delete">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id"/>
                                <div class="form-group text-center mb-2">
                    <button type="submit" class="btn btn-danger" value="Slett" style="width: 64%;" onclick="return confirm('Er du sikker du vil slette denne ordren?');">Delete</button>
                                <a asp-action="Index" class="btn btn-secondary" style="width: 33%;">Tilbake til ordreoversikt</a>
                                </div>
                </form>
                    <hr/>

        </div>
    </dl>
    

    
</div>
